@{
    ViewData["Title"] = "Forklift Editor";
}

@using OpDoc_Manager.Models
@model Forklift

@using (Html.BeginForm("SaveChanges", "Forklift", FormMethod.Post, new { @id = "form" }))
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:block">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a href="#general" class="nav-link active" id="general-tab" role="tab" data-bs-toggle="tab" aria-controls="general" aria-selected="true">Általános</a>
            </li>
            <li class="nav-item">
                <a href="#operator" class="nav-link" id="operator-tab" role="tab" data-bs-toggle="tab" aria-controls="operator">Tulajdonos</a>
            </li>
            <li class="nav-item">
                <a href="#operation" class="nav-link" id="operation-tab" role="tab" data-bs-toggle="tab" aria-controls="operation">Üzemeltetés</a>
            </li>
            <li class="nav-item">
                <a href="#manual" class="nav-link" id="manual-tab" role="tab" data-bs-toggle="tab" aria-controls="manual">Használati Utasítás</a>
            </li>
            <li class="nav-item">
                <a href="#modeldata" class="nav-link" id="modeldata-tab" role="tab" data-bs-toggle="tab" aria-controls="modeldata">Műszaki Adatok</a>
            </li>
            <li class="nav-item">
                <a href="#adapter" class="nav-link" id="adapter-tab" role="tab" data-bs-toggle="tab" aria-controls="adapter">Adapter</a>
            </li>
            <li class="nav-item">
                <a href="#inspection" class="nav-link" id="inspection-tab" role="tab" data-bs-toggle="tab" aria-controls="inspection">Időszakos vizsgálatok</a>
            </li>
            <li class="flex-fill">
            </li>
            <li class="align-self-center">
                <button type="submit" class="btn btn-primary">Mentés</button>
            </li>
        </ul>
    </nav>

    <div class="tab-content">

        @* General Information *@
        @await Html.PartialAsync("EditPartials/_GeneralTab", Model.General)

        @* Operator *@
        @await Html.PartialAsync("EditPartials/_OperatorTab", Model.Operator)

        @* Operation *@
        @await Html.PartialAsync("EditPartials/_OperationTab", Model.Operator)

        @* User Manual *@
        @await Html.PartialAsync("EditPartials/_UserManualTab", Model.UserManual)

        @* Technical Information *@
        @await Html.PartialAsync("EditPartials/_ModelDataTab", Model.General is not null ? Model.General.Model : null)

        @* Adapter Information *@
        @await Html.PartialAsync("EditPartials/_AdapterTab", Model.Adapter)

        @* Periodic Inspection Information *@
        @await Html.PartialAsync("EditPartials/_InspectionTab", Model.PeriodicInspection)

    </div>

    @Html.HiddenFor(m => m.UniqueId)
}

@Html.ValidationSummary(true)

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('Form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            var isValid = $('#Form').valid();
            console.log(isValid);

            if(isValid){
                $.ajax({
                    type: 'POST',
                    url: form.getAttribute('action'),
                    data: new FormData(form),
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        alert('Success: ' + response.message);
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + xhr.responseText);
                    }
                });
            }
        });
    });
</script>