@{
    ViewData["Title"] = "Home Page";

    List<ForkliftModelSelectorDTO> modelNames = (List<ForkliftModelSelectorDTO>)ViewBag.ModelNames;
}
@using OpDoc_Manager.Models.DTO
@using OpDoc_Manager.Models

@model Forklift[]

<p>
    You shouldn't be here!
</p>
