@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Az alkalmazás jelenleg nem rendelkezik email kiszolgálóval. A Rendszeradminisztrátor az alábbi üzenetet kapná:
        </p>
        <p>
            @Model.UserFullName nevű felhasználó regisztrált a rendszerbe!
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kattints ide a regisztráció befejezéséhez és felhasználói szerepkör hozzárendeléséhez!</a>
        </p>
    }
    else
    {
        <p>
            A felhasználó aktiválási email el lett küldve egy adminisztrátornak.
        </p>
    }
}

